<div id="dashboard_page" style="background: #ecf0f1; -moz-border-radius: 5px;   
-webkit-border-radius: 5px; 
border-radius: 5px;">
<div id="space" style="margin-top: 130px"></div>

<%= content_tag :div, "", id: "users_chart", data: {users: users_chart_data}, :style => "margin-top:10px;" %>
<table class="table table-bordered">
  <tr>
    <th>Credit card name</th>
    <th>Product Id</th>
    <th>Product Name</th>
    <th>Shipping Name</th>
    <th>Shipping Address</th>
     <th>Shipping Zip</th>
  </tr>
  <% @users.each do |user| %>
    <tr style="text-align: center">
      <td><%= user.credit_card_name %></td>
      <td><%= user.product_id %></td>
      <td><%= user.product.product_external_name %></td>
      <td><%= user.shipping_name %></td>
      <td><%= user.shipping_address %></td>
      <td><%= user.shipping_zip %></td>
    </tr>
  <% end %>
</table>
</div>
